<form action="/resultado" method="POST">
  <label>N1:</label>
  <input type="text" name="n1" /><br />
  <label>N2:</label>
  <input type="text" name="n2" /><br />
  <input type="submit" />
  
  <label><input type="checkbox" id="cbox1" name="sum" />Suma</label>
  <br />
  <label><input type="checkbox" id="cbox2" name="res" />Resta</label>
  <br />
  <label><input type="checkbox" id="cbox3" name="mult" />Multiplicacion</label>
  <br />
  <label><input type="checkbox" id="cbox4" name="div" />Divicion</label>
  <br />
</form>
